.slideshowsin-contain {
    width: 100%;
    height: 500px;
    align-items: center;
}

.slideshowsin-contain img {
    object-fit: cover;
    height: 500px;
}

.slideshowmul-container {
    max-width: 1200px;
    width: 100%;
    transform: translate(0%, 40%);
}

.slideshowmul-container img:hover {
    scale: 1.5;
    transition: linear 2.5s;
    cursor: pointer;
}



.item-control {
    max-width: 290px;
    width: 100%;
    height: 450px;
    /* height: 100%; */
    background-color: #fff;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    position: relative;
    color: black;
    cursor: pointer;
    /* background-color: yellow; */

}

.item-control p {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.item-control img:nth-child(2) {
    width: 249px;
    max-height: 249px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: #fff;
    margin: auto;
    margin-top: 5px;
    /* background-color: red; */

}

.item-control img:hover {
    cursor: pointer;

}

.itemfavour-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itemfavour-control img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
}


.slick-slide img {
    height: 260px;
    object-fit: contain;
    padding: 8px;
}

.news-control {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.news-control img {

    top: 0;
    left: 0;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-image: linear-gradient(180deg, #fff 90%, #fff, 80%, #070707 100%); */
}

.news-control a:hover img {
    scale: 1.05;
    transition: linear 2.5s;
    color: #333333;
    text-decoration: none;

}

.news-control p {
    font-family: 'Montserrat', sans-serif;
    transform: translate(13%, -300%);
    font-weight: bolder;
    font-size: larger;
    color: #fff;
}

.inputtext-contain {
    /* width: 100%;
    padding: 15px;
    padding-left: 50px;
    margin-bottom: 10px;
    background-color: yellow; */
    padding: 10px;

}

.inputtext-contain-textfield {
    border: 1px groove gray;
    border-radius: 0.2rem;
    max-width: 300px;
    width: 100%;

    /* box-shadow: 1px 1px 1px #AAA; */
}

.inputtext-contain label {
    font-weight: 500;
}

.list-groub-contain {
    list-style: none;
}

.list-groub-item-contain {
    display: flex;
    border-bottom: gray solid 1px;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
}

.list-groub-item {
    /* style={{ display: "flex", justifyContent: "space-between", paddingBottom: 0 }} */
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    /* font-size: ; */
}

.buybut-control {
    height: 50px;
    width: 400px;
    background-color: #fff;
    color: #000;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.buybut-control:hover {
    background-color: #000;
    color: #fff;

}

/* Section scroll */
.section {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.section::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 0.1rem;
}

.section::-webkit-scrollbar {
    width: 8px;
}

.section::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px;
    border-radius: 0.3rem;
    color: #000;
}

.scr-titlescroll-contain {
    margin: 8px;
    padding: 5px;
    border-bottom: 1px solid darkgrey;
}

/* rating */
.rating-container {
    width: 140;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    /* background-color: aqua; */
    margin-left: -10px;
    margin-top: 0px;

}

.rate {

    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: red; */
}

.rate h1 {
    margin-right: -8px;
    cursor: pointer;
    font-size: 20px;
    width: 25px;
}


/* test group radio */
.description {
    height: 0;
    display: block;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.description.show {
    height: 100px;
    opacity: 1;
}

/* input[type="radio"]:checked+label+.description {
    display: block;
    opacity: 0;
} */